<div class="tab-pane active" id="tab-first">
  <form action="/admin/issue/update/<%= issue.id %>" method="POST">
    <div class="form-layout form-layout-1">
      <div class="row mg-b-25">
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Name: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark" type="text" name="name" placeholder="Enter Name" value="<%= issue.name %>" required>
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Live Date: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark issueLiveDate" type="text" name="issueLiveDate" placeholder="Enter Date" value="<%= issue.issueLiveDate %>" required>
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-12">
          <div class="form-group">
            <label class="form-control-label">Description: <span class="tx-danger"></span></label>
            <textarea class="form-control form-control-dark summernote" name="description" placeholder="Enter Description"><%= issue.description %></textarea>
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-6">
          <div class="form-group">
            <label class=" form-control-label">Title: <span class="tx-danger">*</span></label>
            <select class="form-control form-control-dark select2" name="title" data-placeholder="Choose title..." required>
              <option value="">Choose...</option>
              <% titles.forEach(function(title) { %>
                <% if (title.id == issue.title.id) { %>
                  <option selected value="<%= title.id %>"><%= title.name %></option>
                <% } else { %>
                  <option value="<%= title.id %>"><%= title.name %></option>
                <% } %>
              <% }) %>
            </select>
          </div>
        </div><!-- col-6 -->
        <div class="col-lg-6">
          <div class="form-group">
            <label class="form-control-label">Status: <span class="tx-danger"></span></label>
            <select class="form-control form-control-dark select2" name="status" data-placeholder="Choose Status..." <% if (req.user.userRole == 'USER_ROLE_PUBLISHER') { %>
              disabled
            <% } %>>
              <option value="">Choose...</option>
              <option <% if (issue.status == 'pending') { %>
               selected
              <% } %> value="pending">Pending</option>
              <option <% if (issue.status == 'processed') { %>
               selected
              <% } %> value="processed">Processed</option>
              <option <% if (issue.status == 'ready-to-publish') { %>
               selected
              <% } %> value="ready-to-publish">Ready to Publish</option>
              <option <% if (issue.status == 'published') { %>
              selected
              <% } %> value="published">Published</option>
              <option <% if (issue.status == 'rejected') { %>
              selected
              <% } %> value="rejected">Rejected</option>
              <option <% if (issue.status == 'deleted') { %>
               selected
              <% } %> value="deleted">Deleted</option>
            </select>
          </div>
        </div><!-- col-4 -->
      </div><!-- row -->

      <div class="form-layout-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin/issue/list" class="btn btn-secondary">Cancel</a>
      </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
  </form>
</div>
