<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <!-- Meta -->
    <meta
      name="description"
      content="Premium Quality and Responsive UI for Dashboard."
    />
    <meta name="author" content="ThemePixels" />

    <title>ezWaiting</title>

    <%- partial('../partials/header-css.ejs') %>
  </head>
  <body>
    <%- partial('../partials/left-panel.ejs') %>
    <%-partial('../partials/head-panel.ejs') %>
    <%-partial('../partials/main-panel.ejs') %>
    <%-partial('../partials/footer-script.ejs') %>
  </body>
</html>
