<div class="br-section-wrapper">
  <h6 class="br-section-label">UPDATE user</h6>

  <form action="/admin/user/update/<%= user.id%>" method="POST">
    <div class="form-layout form-layout-1">
      <div class="row mg-b-25">
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Firstname: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="firstName" placeholder="Enter firstname" value="<%= user.firstName%>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Lastname: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="lastName" placeholder="Enter lastname" value="<%= user.lastName%>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Email address: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark" type="text" name="email" placeholder="Enter email address" value="<%= user.email%>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Password: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark" type="password" name="password" placeholder="*******">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group mg-b-10-force">
            <label class="form-control-label">Address: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="address" placeholder="Enter address" value="<%= user.address%>">
          </div>
        </div><!-- col-8 -->
        <div class="col-lg-4">
          <div class="form-group mg-b-10-force">
            <label class="form-control-label">Phone: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="phone" placeholder="Enter phone" value="<%= user.phone%>">
          </div>
        </div><!-- col-8 -->
      </div><!-- row -->

      <div class="form-layout-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <a href="/admin/user/list" class="btn btn-secondary">Cancel</a>
      </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
  </form>
</div>
