<div class="br-section-wrapper">
  <h6 class="br-section-label">UPDATE LOCATION</h6>

  <form action="/admin/location/update/<%= location.id %>" method="POST">
    <div class="form-layout form-layout-1">
      <div class="row mg-b-25">
        <div class="col-lg-4">

          <div class="form-group">
            <label class="form-control-label">Name: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="name" placeholder="Enter name" value="<%= location.name %>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Address: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="address" placeholder="Enter address" value="<%= location.address %>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Latitude: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark" type="text" name="latitude" placeholder="Enter latitude" value="<%= location.latitude %>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">Longitude: <span class="tx-danger">*</span></label>
            <input class="form-control form-control-dark" type="text" name="longitude" placeholder="Enter longitude" value="<%= location.longitude %>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group mg-b-10-force">
            <label class="form-control-label">Radius: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="radius" placeholder="Enter radius" value="<%= location.radius %>">
          </div>
        </div><!-- col-8 -->
        <div class="col-lg-4">
          <div class="form-group">
            <label class="form-control-label">City: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="city" placeholder="Enter city" value="<%= location.city %>">
          </div>
        </div><!-- col-4 -->
        <div class="col-lg-4">
          <div class="form-group mg-b-10-force">
            <label class="form-control-label">State: <span class="tx-danger"></span></label>
            <input class="form-control form-control-dark" type="text" name="state" placeholder="Enter state" value="<%= location.state %>">
          </div>
        </div><!-- col-8 -->
        <div class="form-group">
          <label class=" form-control-label">Country: <span class="tx-danger">*</span></label>
          <select class="form-control form-control-dark select2" name="country" data-placeholder="Choose locations...">
            <option value="">Choose...</option>
            <% countries.forEach(function(country){ %>
              <option value="<%= country.id %>" <% if (country.id == location.country.id) { %>selected<% } %>><%= country.name%></option>
            <% }); %>
          </select>
        </div>
      </div><!-- row -->

      <div class="form-layout-footer">
        <button type="submit" class="btn btn-primary">Submit</button>
        <button type="reset" class="btn btn-secondary">Cancel</button>
      </div><!-- form-layout-footer -->
    </div><!-- form-layout -->
  </form>
</div>
